*.1
*.dia.autosave
*.html
*.o
*.odg.cpgz
*.pyc
*.so
*.tar.gz
*Makefile.in*
*~
.*.swp
.DS_Store
.~lock.*.docx#
.~lock.*.odg#
_trial_temp
aclocal.m4
autom4te.cache/*
build/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
html/
install-sh
libtool
ltmain.sh
nohup.out
src/blobdetective
prototypes/threads/out
